<h2 mat-dialog-title>Details services</h2>
<div mat-dialog-content>
  <table class="table table-hover table-striped">
    <thead>
    </thead>
    <tbody>
    <tr>
      <td>Id</td>
      <td>{{services.id}}</td>
    </tr>
    <tr>
      <td>Name</td>
      <td>{{services.name}}</td>
    </tr>
    <tr>
      <td>Area</td>
      <td>{{services.area}}</td>
    </tr>
    <tr>
      <td>Floor</td>
      <td>{{services.floor}}</td>
    </tr>
    <tr>
      <td>Max people</td>
      <td>{{services.maxPeople}}</td>
    </tr>
    <tr>
      <td>Cost</td>
      <td>{{services.cost}}</td>
    </tr>
    <tr>
      <td>Status</td>
      <td>{{services.status}}</td>
    </tr>
    <tr>
      <td colspan="2" class="fw-bold text-uppercase">Rent type</td>
    </tr>
    <tr>
      <td>Id</td>
      <td>{{services.rentType.id}}</td>
    </tr>
    <tr>
      <td>Name</td>
      <td>{{services.rentType.name}}</td>
    </tr>
    <tr>
      <td>Cost</td>
      <td>{{services.rentType.cost}}</td>
    </tr>

    </tbody>
  </table>
</div>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close class="btn btn-light">Close</button>
</mat-dialog-actions>
