<h2>Create new customer type</h2>
<div class="col-6">
  <form [formGroup]="customerTypeForm" (ngSubmit)="saveCustomerType()">
    <div class="row mb-3">
      <div class="col-4">
        <label for="name" class="form-label">Name </label>
      </div>
      <div class="col-8">
        <input type="text" class="form-control" id="name" formControlName="name" aria-describedby="nameError">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4"></div>
      <div class="col-4">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </div>
  </form>
</div>
