<h1>Contract detail list</h1>
<button mat-button (click)="openDialogCreate()" class="btn btn-primary">Create new contract detail</button>
<table class="table table-hover table-striped">
  <thead>
  <tr>
    <th scope="col">No.</th>
    <th scope="col">Contract Id</th>
    <th scope="col">Attach service name</th>
    <th scope="col">Quantity</th>
    <th scope="col">Details</th>
    <th scope="col">Edit</th>
    <th scope="col">Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let contractDetail of contractDetailList; index as i">
    <th>{{i + 1}}</th>
    <td>{{contractDetail.contract.id}}</td>
    <td>{{contractDetail.attachService.name}}</td>
    <td>{{contractDetail.quantity}}</td>
    <td>
      <button mat-button (click)="openDialogDetails(contractDetail.id)" class="btn btn-primary"><i class="fas fa-info-circle"></i></button>
    </td><td>
    <button mat-button (click)="openDialogEdit(contractDetail.id)" class="btn btn-warning"><i class="fas fa-edit"></i></button>
  </td>
    <td>
      <button mat-button (click)="openDialogDelete(contractDetail.id)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
    </td>
  </tr>
  </tbody>
</table>


