<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #ff6600">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">HackerNews</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">New</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Past</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Comments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ask</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Show</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Jobs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Submit</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
