<h1>Employee list</h1>
<a routerLink="/employee/create">Create new employee</a>
<table class="table table-hover table-striped">
  <thead>
  <tr>
    <th scope="col">No.</th>
    <th scope="col">Id</th>
    <th scope="col">Name</th>
    <th scope="col">Date of Birth</th>
    <th scope="col">Id card</th>
    <th scope="col">Salary</th>
    <th scope="col">Phone</th>
    <th scope="col">Email</th>
    <th scope="col">Address</th>
    <th scope="col">Position</th>
    <th scope="col">Education Degree</th>
    <th scope="col">Division</th>
    <th scope="col">Edit</th>
    <th scope="col">Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let employee of employeeList; index as i">
    <th>{{i + 1}}</th>
    <td>{{employee.id}}</td>
    <td>{{employee.name}}</td>
    <td>{{employee.dateOfBirth | date: 'dd-MM-yyyy'}}</td>
    <td>{{employee.idCard}}</td>
    <td>{{employee.salary}}</td>
    <td>{{employee.phone}}</td>
    <td>{{employee.email}}</td>
    <td>{{employee.address}}</td>
    <td>{{employee.position.name}}</td>
    <td>{{employee.educationDegree.name}}</td>
    <td>{{employee.division.name}}</td>
    <td>
      <a [routerLink]="['/employee/edit', employee.id]">Edit</a>
    </td>
    <td>
      <a [routerLink]="['/employee/delete', employee.id]">Delete</a>
    </td>
  </tr>
  </tbody>
</table>
