<h2>Edit employee</h2>
<div class="col-6">
  <form [formGroup]="customerForm" (ngSubmit)="deleteCustomer(id)" novalidate>
    <div class="row mb-3">
      <div class="col-4">
        <label for="id" class="form-label">Id</label>
      </div>
      <div class="col-8">
        <input type="text" class="form-control" id="id" formControlName="id">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4">
        <label for="name" class="form-label">Name</label>
      </div>
      <div class="col-8">
        <input type="text" class="form-control" id="name" formControlName="name">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4">
        <label for="dateOfBirth" class="form-label">Date of birth</label>
      </div>
      <div class="col-8">
        <input type="date" class="form-control" id="dateOfBirth" formControlName="dateOfBirth">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4">
        <label>Gender </label>
      </div>
      <div class="col-8">
        <input type="radio" value="0" name="gender" formControlName="gender" checked> Male
        <input type="radio" value="1" name="gender" formControlName="gender" checked> Female
        <input type="radio" value="2" name="gender" formControlName="gender" checked> LGBT
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4">
        <label for="idCard" class="form-label">Id card</label>
      </div>
      <div class="col-8">
        <input type="text" class="form-control" id="idCard" formControlName="idCard">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4">
        <label for="phone" class="form-label">Phone</label>
      </div>
      <div class="col-8">
        <input type="text" class="form-control" id="phone" formControlName="phone">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4">
        <label for="email" class="form-label">Email</label>
      </div>
      <div class="col-8">
        <input type="text" class="form-control" id="email" formControlName="email">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4">
        <label for="address" class="form-label">Address</label>
      </div>
      <div class="col-8">
        <input type="text" class="form-control" id="address" formControlName="address">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4">
        <label for="customerType" class="form-label">Customer type</label>
      </div>
      <div class="col-8">
        <select id="customerType" name="customerType" formControlName="customerType" aria-describedby="customerTypeError">
          <option *ngFor="let customerType of customerTypeList" [ngValue]="customerType" [selected]="customerType.id">{{customerType.name}}</option>
        </select>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4"></div>
      <div class="col-4">
        <button type="submit" class="btn btn-primary" [disabled]="!customerForm.valid">Delete</button>
        <button type="submit" class="btn btn-secondary" routerLink="/customer/list">Cancel</button>
      </div>
    </div>
  </form>
</div>

