<h2 mat-dialog-title>Edit employee</h2>
<div mat-dialog-content>
  <form [formGroup]="employeeForm" (ngSubmit)="updateEmployee(id)" novalidate>
    <div class="row mb-3">
      <div class="col-4">
        <label for="id" class="form-label">Id</label>
      </div>
      <div class="col-8">
        <input type="text" class="form-control" id="id" formControlName="id" disabled>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4">
        <label for="name" class="form-label">Name</label>
      </div>
      <div class="col-8">
        <input type="text" class="form-control" id="name" formControlName="name" aria-describedby="nameError">
        <div id="nameError" class="form-text text-danger" *ngIf="!name.valid && (name.dirty || name.touched)">
          <div [hidden]="!name.errors.required">
            Họ tên không được để trống!!!
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4">
        <label for="dateOfBirth" class="form-label">Date of birth</label>
      </div>
      <div class="col-8">
        <input type="date" class="form-control" id="dateOfBirth" formControlName="dateOfBirth"
               aria-describedby="dateOfBirthError">
        <div id="dateOfBirthError" class="form-text text-danger"
             *ngIf="!dateOfBirth.valid && (dateOfBirth.dirty || dateOfBirth.touched)">
          <div [hidden]="!dateOfBirth.errors.required">
            Ngày sinh không được để trống!!!
          </div>
          <div [hidden]="!dateOfBirth.errors.pattern">
            Ngày sinh phải có định dạng là DD/MM/YYYY
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4">
        <label for="idCard" class="form-label">Id card</label>
      </div>
      <div class="col-8">
        <input type="text" class="form-control" id="idCard" formControlName="idCard" aria-describedby="idCardError">
        <div id="idCardError" class="form-text text-danger" *ngIf="!idCard.valid && (idCard.dirty || idCard.touched)">
          <div [hidden]="!idCard.errors.required">
            Số CMND không được để trống!!!
          </div>
          <div [hidden]="!idCard.errors.pattern">
            Số CMND phải có định dạng là XXXXXXXXX (9 số) hoặc XXXXXXXXXXXX (12 số) (X là số 0-9)
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4">
        <label for="salary" class="form-label">Salary</label>
      </div>
      <div class="col-8">
        <input type="text" class="form-control" id="salary" formControlName="salary" aria-describedby="salaryError">
        <div id="salaryError" class="form-text text-danger" *ngIf="!salary.valid && (salary.dirty || salary.touched)">
          <div [hidden]="!salary.errors.nan">
            Lương phải là số!!!
          </div>
          <div [hidden]="!salary.errors.zero">
            Lương phải là số dương!!!
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4">
        <label for="phone" class="form-label">Phone</label>
      </div>
      <div class="col-8">
        <input type="text" class="form-control" id="phone" formControlName="phone" aria-describedby="phoneError">
        <div id="phoneError" class="form-text text-danger" *ngIf="!phone.valid && (phone.dirty || phone.touched)">
          <div [hidden]="!phone.errors.required">
            Số điện thoại không được để trống!!!
          </div>
          <div [hidden]="!phone.errors.pattern">
            Số điện thoại phải có định dạng là 090xxxxxxx hoặc 091xxxxxxx hoặc (84)+90xxxxxxx hoặc (84)+91xxxxxxx
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4">
        <label for="email" class="form-label">Email</label>
      </div>
      <div class="col-8">
        <input type="text" class="form-control" id="email" formControlName="email" aria-describedby="emailError">
        <div id="emailError" class="form-text text-danger" *ngIf="!email.valid && (email.dirty || email.touched)">
          <div [hidden]="!email.errors.required">
            Email không được để trống!!!
          </div>
          <div [hidden]="!email.errors.pattern">
            Email phải đúng định dạng!!!
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4">
        <label for="address" class="form-label">Address</label>
      </div>
      <div class="col-8">
        <input type="text" class="form-control" id="address" formControlName="address" aria-describedby="addressError">
        <div id="addressError" class="form-text text-danger"
             *ngIf="!address.valid && (address.dirty || address.touched)">
          <div [hidden]="!address.errors.required">
            Địa chỉ không được để trống!!!
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4">
        <label for="position" class="form-label">Position</label>
      </div>
      <div class="col-8">
        <select [compareWith]="comparePosition" id="position" name="position" formControlName="position"
                aria-describedby="positionError">
          <option value="">---Select---</option>
          <option *ngFor="let position of positionList" [ngValue]="position">{{position.name}}</option>
        </select>
        <div id="positionError" class="form-text text-danger"
             *ngIf="!position.valid && (position.dirty || position.touched)">
          Vị trí không được để trống
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4">
        <label for="educationDegree" class="form-label">Education degree</label>
      </div>
      <div class="col-8">
        <select [compareWith]="compareEducationDegree" id="educationDegree" name="educationDegree"
                formControlName="educationDegree" aria-describedby="educationDegreeError">
          <option value="">---Select---</option>
          <option *ngFor="let educationDegree of educationDegreeList"
                  [ngValue]="educationDegree">{{educationDegree.name}}</option>
        </select>
        <div id="educationDegreeError" class="form-text text-danger"
             *ngIf="!educationDegree.valid && (educationDegree.dirty || educationDegree.touched)">
          Trình độ không được để trống
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4">
        <label for="division" class="form-label">Division</label>
      </div>
      <div class="col-8">
        <select [compareWith]="compareDivision" id="division" name="division" formControlName="division"
                aria-describedby="divisionError">
          <option value="" selected>---Select---</option>
          <option *ngFor="let division of divisionList" [ngValue]="division">{{division.name}}</option>
        </select>
        <div id="divisionError" class="form-text text-danger"
             *ngIf="!division.valid && (division.dirty || division.touched)">
          Bộ phận không được để trống
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4"></div>
      <div class="col-8">
        <mat-dialog-actions>
          <button mat-button type="submit" class="btn btn-primary" [disabled]="!employeeForm.valid">Update
          </button>
          <button mat-button mat-dialog-close class="btn btn-dark">Close</button>
        </mat-dialog-actions>
      </div>
    </div>
  </form>
</div>
