<h2 mat-dialog-title>Delete contract</h2>
<div mat-dialog-content>
  <form [formGroup]="contractForm" (ngSubmit)="deleteContract(id)" novalidate>
    <div class="row mb-3">
      <div class="col-4">
        <label for="startDate" class="form-label">Start date</label>
      </div>
      <div class="col-8">
        <input type="date" class="form-control" id="startDate" formControlName="startDate">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4">
        <label for="endDate" class="form-label">End date</label>
      </div>
      <div class="col-8">
        <input type="date" class="form-control" id="endDate" formControlName="endDate">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4">
        <label for="deposit" class="form-label">Deposit</label>
      </div>
      <div class="col-8">
        <input type="text" class="form-control" id="deposit" formControlName="deposit">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4">
        <label for="total" class="form-label">Total</label>
      </div>
      <div class="col-8">
        <input type="text" class="form-control" id="total" formControlName="total">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4">
        <label for="employee" class="form-label">Employee</label>
      </div>
      <div class="col-8">
        <select [compareWith]="compareEmployee" id="employee" name="employee" formControlName="employee">
          <option *ngFor="let employee of employeeList" [ngValue]="employee">{{employee.name}}</option>
        </select>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4">
        <label for="customer" class="form-label">Customer</label>
      </div>
      <div class="col-8">
        <select [compareWith]="compareCustomer" id="customer" name="customer" formControlName="customer">
          <option *ngFor="let customer of customerList" [ngValue]="customer">{{customer.name}}</option>
        </select>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4">
        <label for="services" class="form-label">Services</label>
      </div>
      <div class="col-8">
        <select [compareWith]="compareServices" id="services" name="services" formControlName="services">
          <option *ngFor="let services of servicesList" [ngValue]="services">{{services.name}}</option>
        </select>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4"></div>
      <div class="col-8">
        <mat-dialog-actions>
          <button mat-button type="submit" class="btn btn-primary">Delete
          </button>
          <button mat-button mat-dialog-close class="btn btn-dark">Close</button>
        </mat-dialog-actions>
      </div>
    </div>
  </form>
</div>
