<h2>Edit services</h2>
<div class="col-6">
  <form [formGroup]="servicesForm" (ngSubmit)="deleteServices(id)">
    <div class="row mb-3">
      <div class="col-4">
        <label for="id" class="form-label">Id</label>
      </div>
      <div class="col-8">
        <input type="text" class="form-control" id="id" formControlName="id">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4">
        <label for="name" class="form-label">Name</label>
      </div>
      <div class="col-8">
        <input type="text" class="form-control" id="name" formControlName="name">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4">
        <label for="area" class="form-label">Area</label>
      </div>
      <div class="col-8">
        <input type="text" class="form-control" id="area" formControlName="area">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4">
        <label for="floor" class="form-label">Floor</label>
      </div>
      <div class="col-8">
        <input type="text" class="form-control" id="floor" formControlName="floor">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4">
        <label for="maxPeople" class="form-label">Max people</label>
      </div>
      <div class="col-8">
        <input type="text" class="form-control" id="maxPeople" formControlName="maxPeople">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4">
        <label for="cost" class="form-label">Cost</label>
      </div>
      <div class="col-8">
        <input type="text" class="form-control" id="cost" formControlName="cost">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4">
        <label for="status" class="form-label">Status</label>
      </div>
      <div class="col-8">
        <input type="text" class="form-control" id="status" formControlName="status">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4">
        <label for="rentType" class="form-label">Rent type</label>
      </div>
      <div class="col-8">
        <select [compareWith]="compareRentType" id="rentType" name="rentType" formControlName="rentType"
                aria-describedby="rentTypeError">
          <option *ngFor="let rentType of rentTypeList" [ngValue]="rentType">{{rentType.name}}</option>
        </select>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4"></div>
      <div class="col-4">
        <button type="submit" class="btn btn-primary">Delete</button>
        <button type="submit" class="btn btn-secondary" routerLink="/services/list">Cancel</button>
      </div>
    </div>
  </form>
</div>
